<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Library</title>
	<link rel="stylesheet " href="https://unpkg.com/boxicons@latest/css/boxicons.min.css ">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style2.css')}}">
</head>
<body>
 <div class="container ">
        <div class="left_sidebar">
            <div class="close_hamburger_btn">
                <i class='bx bx-x-circle'></i>
            </div>
            <div class="logo ">
                <h2>Library</h2>
            </div>
            <div class="menu_items ">
                <div class="menu_item ">
                    <a href="{{ url_for('book') }}">
                    <i class='bx bxs-dashboard'></i>
                    <span class="link_name">Books</span>
                </a>
                </div>
                <div class="menu_item  ">
                    <a href="{{ url_for('mycollection') }}">
                    <i class='bx bx-file-blank'></i>
                    <span class="link_name">My Collection</span>
                </a>
                </div>
                <div class="menu_item active">
                    <a href="{{ url_for('users') }}">
                    <i class='bx bx-user'></i>
                    <span class="link_name">User List</span>
                </a>
                </div>
                <div class="menu_item ">
                    <a href="{{ url_for('logout') }}">
                        <i class='bx bx-cog'></i>
                        <span class="link_name">Logout</span>
                      </a>
                </div>
            </div>
        </div>
        <div class="main_content">
            <div class="left_right_sidebar_opener">
                <div class="hamburger">
                    <i class='bx bx-menu'></i>
                </div>

            </div>
            <div class="main_navbar">
                <div class="search_box">
                    
                </div>
                <!-- <div class="dark_mode_icon" onclick="darkMode()">
                    <i class='bx bx-moon'></i>
                    <i class='bx bx-sun'></i>
                </div> -->
            </div>
            <div class="menu_item_name_and_filter ">
                <div class="menu_item_name">
                </div>
            </div>
            <div class="table">
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Mobile</th>
                        <th>Join Date</th>
                    </tr>
                    {% for user in userdetails %}
                    <tr>
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.phone_no}}</td>
                        <td>{{user.createdAt}}</td>
                    </tr>
                    {% endfor %}
                     
                </table>
            </div>
            <hr>
              <div class="menu_item_name_and_filter ">
                <div class="menu_item_name">
                	<h2>
                	Book borrow history
                </h2>
                </div>
            </div>
            <div class="table">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Book Name</th>
                        <th>Borrow Date</th>
                        <th>Return Date</th>
                        <th>Action</th>
                    </tr>
                    {% for book in booksdetails %}
                    <tr>
                        <td class="counterCell"></td>
                        <td>{{book.book_name}}</td>
                        <td>{{book.created_at}}</td>
                        <td>{{book.return_date}}</td>
                        {% if book.status == 1 %}
                        <td><button class="btn"><a href="{{ url_for('bookreturn',booklogId=book.id,bookId=book.book_id) }}">Return</a></button></td>
                        {% else %}
                        <td>Returnd</td>
                        {% endif %}
                    {% endfor %}
                    </tr>
                    
                </table>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='script.js')}}"></script>
</body>
</html>